<footer class="footer">
	<div class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<div class="footer__copyright">
			&copy; {{ now.Format "2006" }} {{ .Site.Params.copyright | default .Site.Title }}.
			<span class="footer__copyright-credits">{{ T "footer_credits" | safeHTML }}</span>
			<span style="margin-left:1rem;">Nekomercné aktivity: <a href="https://tchela.sk.eu.org/" target="_blank" rel="noopener noreferrer">tchela.sk.eu.org</a></span>
		</div>
	</div>
</footer>
