{{- $isHidden := (.Param "cover.hiddenInList") | default (.Param "cover.hidden") | default false }}
<article class="post-entry">

  {{- with .Params.cover.image }}
  {{- if not $isHidden }}
  <div class="entry-cover">
    <img src="{{ . }}" alt="{{ $.Params.cover.alt | default $.Title }}" loading="lazy">
  </div>
  {{- end }}
  {{- end }}

  <div class="entry-header">
    {{- with .Params.categories }}
    <div class="entry-categories">
      {{- range . }}<span>{{ . }}</span>{{ end }}
    </div>
    {{- end }}

    <header class="entry-hint-parent">
      <h2 class="entry-hint-parent">
        {{- .Title }}
        {{- if .Draft }}<span class="entry-hint" title="Draft">D</span>{{- end }}
      </h2>
    </header>

    {{- if .Summary }}
    <div class="entry-content">
      <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
    </div>
    {{- end }}

    <footer class="entry-footer">
      {{- partial "post_meta.html" . -}}
    </footer>
  </div>

</article>
